		*{margin:0;padding:0;font-family: Tahoma,Helvetica,Arial,"微软雅黑",serif;}
		ul{list-style-type:none;}
		a{text-decoration:none;color:#7f7f7f;}
		.header_warp{background-color: #000;width: 100%;min-width: 1146px;}
		header,.banner,footer{width: 1146px;margin:0 auto;}
		header{height: 143px;}
		.logo{width: 467px;height: 110px;float: left;background:url(images/logo_03.jpg);margin-left:67px;margin-top:15px;}
		nav{line-height: 143px;float:left;margin-left:40px;}
		nav ul li{float:left;margin-left:28px;}
		nav li.about{margin-left:0;}
		nav ul li a:hover{color:#c92600;font-size:16px;}
		.banner_warp{background:#101111;width: 100%;min-width: 1146px;}
		.banner{clear:both;width: 1046px;height: 283px;padding-top:65px;padding-left:100px;position: relative;}
		.banner h2{color:#fff;}
		.banner h2,.banner p{width: 600px;}
		.banner p{margin:20px 0; line-height:1.5em;font-size:16px;text-align:justify;color:#7f7f7f;}
		.banner span a{color:#c92703; text-decoration: underline;}
		.banner-pic{float: left;width: 338px;height: 344px;background: url(images/banner-pic_03.png);position: absolute;right:75px;top:-30px;}
		.more{width: 106px;height: 41px;border-radius:5px;background-image: url(images/more-bg_04.jpg);text-align:center;line-height:40px;}
		.more a{display: block;
			    color: #fbf9f9;
			    font-size: 22px;
			    width: 106px;
			    height: 41px;}
		.more a:hover{font-size: 24px;}
		.pic{float: left;width: 338px;height: 344px;background: url(images/banner-pic_03.png);position: absolute;right:75px;top:-30px;}
		.main_warp{background-color: #1e2020;min-width: 1146px;}
		.main{width: 1041px;height: 896px;margin:0 auto;padding-left:105px;overflow: hidden;}
		.main .picBox{width: 940px;height: 180px;margin:30px auto;margin-left: 0;}
		.pic1,.pic2,.pic3{float:left;width: 300px;height: 180px;}
		.pic1{background-image: url(images/pic_05.jpg);}
		.pic2{background-image: url(images/pic_07.jpg);margin:0 20px;}
		.pic3{background-image: url(images/pic_09.jpg);}
		.content-left{width: 620px;height: 640px;float: left;color:#736f6f;}
		.content-left h2{color:#fff;font-size:30px;margin-bottom:20px;}
		
		.article{width: 620px;height: 255px;border-bottom:1px dotted #3c3d3d;}
		.rili{width: 60px;height: 60px;float: left;}
		.neirong{float: left;margin-left:20px;}
		.neirong p{width: 524px; line-height: 1.5em;margin-bottom:20px;font-size: 14px;}
		.content-left span{color:#fff;}
		.article2{height: 267px; border:none;margin-top:40px;}
		.tupian{float: left;width: 220px;height: 160px;background-image: url(images/pic_16.jpg);margin-left:20px;margin-bottom:30px;}
		.article .neirong2{width: 300px;font-size:15px;}
		.article2 .more{clear:both;margin-left:80px;margin-top:30px;}

		.content-right{width: 300px;height: 640px;float: left;margin-left:20px;}
		.adventure{width: 300px;height: 300px;margin-top:30px;}
		.adventure h1{width: 280px;height: 47px;background-color: #0e0e0e;border-radius:8px;padding-left:20px;color:#fff;line-height: 47px;}
		.adventure ul{margin-top:20px;}
		.adventure ul li{height:20px;list-style-image:url(images/list-type_05.gif);margin-left: 40px;border-bottom:1px dotted #3c3d3d;padding-bottom:10px;}
		.adventure ul li a{font-size:16px;color:#fff;font-style:italic;}
		.adventure ul li a:hover{font-size:17px;text-decoration: underline;}
		.adventure ul .none{border-bottom: hidden;}
		.meeting{width: 280px;height: 210px;border-radius:5px;background-color: #0e0e0e;margin-top:20px;color:#fff;padding-top:20px;padding-left:20px;}
		.meeting h2{font-weight: normal;font-size:26px;letter-spacing:-1px;}
		.zhangpeng{width: 260px;height: 72px;background-image: url(images/pic_17.jpg);margin-top:20px;}
		.meeting p{font-size:14px;line-height:1.5em;margin-top:10px;}
		.meeting span{color:#797979;}
		.footer_warp{background-color: #0f1010;}
		footer{clear:both;height: 150px;background-color: #0f1010;color:#7f7f7f;overflow: hidden;}
		footer p{float:left;text-align: center;margin-left: 300px;margin-top:60px;}
		footer p a{color:#c52507;text-decoration: underline;}
		.iconlist{width: 134px;height: 26px;float: left;margin-top:80px;margin-left:200px;}
		.icon1,.icon2,.icon3,.icon4{width: 26px;height: 26px;float: left;margin-left:10px;}
		.icon1{margin-left:0;background-image: url(images/icon_38.jpg);}
		.icon2{background-image: url(images/icon_40.jpg);}
		.icon3{background-image: url(images/icon_42.jpg);}
		.icon4{background-image: url(images/icon_44.jpg);}
